.navbar {
    background-color: #333 !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:visited, .nav-item a:link, .nav-item a:active{
    color: white !important; 
}

.nav-item a:hover {
    color: aquamarine !important;
}

.nav-item.active a{
    color:aquamarine !important;
}

.subtitle {
    color: rgb(94, 92, 92);
}

.green-card {
    box-shadow: 0px -10px 0px 0px rgb(64, 196, 152);
}

.blue-card {
    box-shadow: 0px -10px 0px 0px rgb(46, 121, 233);
    margin-top:30px;
    margin-bottom: 30px !important;
}

.address {
    list-style-type: none;
    padding: 0;
    color: rgb(94, 92, 92);
}

.card-body {
    box-shadow: 5px 5px 20px 0px lightgrey;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}