.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: black;
}

p {
    text-align: justify;
}

.info {
    color: white;
    width: 100%;
    margin-top: 5%;
}

.text-content {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #333 !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:visited, .nav-item a:link, .nav-item a:active{
    color: white !important; 
}

.nav-item a:hover {
    color: aquamarine !important;
}

.nav-item.active a{
    color: aquamarine !important;
}

.fa-heart {
    margin-left: 20px;
    font-size: large;
    margin-top: 5px;
}
.fa-solid.fa-heart {
    color: #C1121F
}
.fa-heart:hover {
    color: #C1121F;
}
.fa-comment {
    margin-left: 10px;
    margin-top: 5px;
    font-size: large;
}
.fa-comment:hover {
    color: #003049;
}
.fa-bookmark {
    right: 20px;
    position: absolute;
    margin-top: 5px;
    font-size: large;
}
.fa-solid.fa-bookmark {
    color: #212529;
}
.fa-bookmark:hover {
    color: #003049;
}
.navbar-dark .navbar-toggler {
    border-color: white;
}
.actionBar {
    display: inline-block;
    width: inherit;
}
textarea {
    max-width: 100%;
    width: 465px;
    height: 150px;
    box-sizing: border-box;
}

.main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.title {
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}